<div class="container">

  <!-- Bouton Ajouter un customer -->
  <div class="m-3 p-1">
    <button class="btn btn-success" (click)="addCustomer()">
      <i class="bi bi-plus-circle"> Add Customer</i>
    </button>
  </div>

  @if (customers){
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Orders</th>
        <th>Delete</th>
      </tr>
      </thead>

      <tbody>
        @for (c of customers._embedded.customers; track c){
          <tr>
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>
              <button class="btn btn-success" (click)="getOrders(c)">Orders</button>
            </td>
            <td>
              <button class="btn btn-outline-danger">
                <i class="bi bi-trash" (click)="delete(c)">Delete</i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }


</div>
