<div class="container">

  <!-- Bouton Ajouter un produit -->
  <div class="m-3 p-1">
    <button class="btn btn-success" (click)="addProduct()">
      <i class="bi bi-plus-circle"> Add Product</i>
    </button>
  </div>

  @if (products){
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
      </tr>
      </thead>

      <tbody>
        @for (p of products._embedded.products; track p){
          <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.quantity}}</td>
            <td>
              <button (click)="delete(p)" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }


</div>
